* {
  box-sizing: border-box;
}
body {
    background-color: #080812;
    color: white;
    font-family: Arial, sans-serif;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5)),
        url("https://c4.wallpaperflare.com/wallpaper/852/618/332/the-witcher-the-witcher-3-wild-hunt-wallpaper-preview.jpg");

    background-repeat: no-repeat;
    background-size: cover, 105%;
    background-position: center, 40% center;

    animation-name: moveBackground;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moveBackground {
    from {
        background-size: cover, 105%;
        background-position: center, 40% center;
    }

    to {
        background-size: cover, 125%;
        background-position: center, 60% center;
    }
}
.screen {
    width: 400px;
    margin: 50px auto;
    padding: 22px;

    background-color: #171728;
    border-radius: 17px;
}

h1 {
    color: white;
}

p {
    color: #ccccdd;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 10px;

    background-color: #242438;
    color: white;

    border: 1px solid #55556a;
    border-radius: 12px;
}

button {
    width: 100%;
    padding: 11px;
    margin-top: 12px;

    background-color: #7a1f3d;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b8325f;
}


.container-player {
    display: flex;
    flex-direction: row;
    background-color: #b8325f;
    width: 80%;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
}


#player-list {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}